@model Northwind.Domain.Entities.Category
@{
    ViewData["Title"] = "Edit Category";
}

<h3>Edit Category</h3>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
    <input type="hidden" asp-for="CategoryId" />

    <div class="columns">
        <div class="column">
            <div class="field">
                <label asp-for="CategoryName" class="label">Category Name</label>
                <div class="control">
                    <input asp-for="CategoryName" class="input" readonly />
                </div>
            </div>
            <div class="field">
                <label asp-for="Description" class="label">Description</label>
                <div class="control">
                    <textarea asp-for="Description" class="textarea" readonly></textarea>
                </div>
            </div>
            <div class="field">
                <label for="newImage" class="label">Upload New Image</label>
                <div class="control">
                    <input type="file" id="newImage" name="newImage" class="input" />
                </div>
            </div>
        </div>
    </div>

    <div class="field buttons">
        <div class="control">
            <button type="submit" class="card-button">Update</button>
        </div>
        <div class="control">
            <a href="@Url.Action("Index", "Categories")" class="card-button cancel-button">Cancel</a>
        </div>
    </div>
</form>