@{
    ViewData["Title"] = "Welcome";
}

<div class="welcome-content-container">
    <div class="welcome-text">Welcome to Northwind!</div>
    <div class="welcome-subtext">Explore our wide range of products and categories</div>
</div>