@model Northwind.Web.Models.ProductModel

@{
    ViewData["Title"] = "Add Product";
    ViewData["FormAction"] = "Create";
    ViewData["ButtonText"] = "Create";
}
<h1 class="title">Add Product</h1>
<div class="card-section-container">
    @await Html.PartialAsync("_ProductForm", Model)
</div>
