
 @model Northwind.Web.Models.ProductModel

@{
    ViewData["Title"] = "Edit Product";
    ViewData["FormAction"] = "Edit";
    ViewData["ButtonText"] = "Save";
}
<h1 class="title">Edit Product</h1>
<div class="card-section-container">
    @await Html.PartialAsync("_ProductForm", Model)
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 