@{
    ViewData["Title"] = "Error";
}

<h1>An Error Occurred</h1>
<p>Sorry, something went wrong while processing your request.</p>
<p>Error Message: @ViewData["ErrorMessage"]</p>
<p>Stack Trace: @ViewData["StackTrace"]</p>
<p>Please check the logs for more details.</p>